* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d3eefe;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins";
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: #f0f5ff;
}

::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 94);
    border-radius: 100vw;
    margin-left: 0.25em solid;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41);
}

.navbar {
    position: sticky;
    height: 8vh;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    text-align: center;
    z-index: 999;

}

.navbar .logo {
    position: relative;
    max-width: 50px;
}

.navbar ul {
    position: relative;
    display: flex;
    margin-bottom: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar ul li a {
    color: #111;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
    height: 100%;
}

/* .navbar ul:hover li {
    margin-bottom: 2px solid #e87c4be6;
} */

h1 {
    font-family: "Poppins";
    color: #43515c;
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: -5px;
    padding: 50px 0px 0px 0px;
    z-index: 99;
}

p {
    font-family: "Poppins";
    color: #43515c;
    font-size: 24px;
    font-weight: 100;
    z-index: 99;
}

.hero-section {
    position: absolute;
    z-index: 500;
    height: 100vh;
    width: 100%;
    top: 8vh;
    /* text-align: left; */
}

.hero-section img {
    width: 100%;
    height: 92vh;
    object-fit: cover;
}

.hero-section p {
    color: #fff;
    font-weight: 300;
}

.first-section {
    position: relative;
    display: flex;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.first-section .images-wrapper {
    position: absolute;
    top: 6vh;

}

.ingredient-images {
    position: absolute;
    width: 400px;
    left: calc(50% - 400px);
    height: 100px;
    top: 420px;
}

.section_1_01 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.section_1_02 {
    position: absolute;
    top: 80px;
    right: 130px;
}

.section_1_03 {
    position: absolute;
    top: 100px;
    right: 10px;
}

.section_1_04 {
    position: absolute;
    top: 200px;
    right: 120px;
}

.section_1_05 {
    position: absolute;
    top: 225px;
    right: 150px;
}

.section_1_06 {
    position: absolute;
    top: 170px;
    right: 210px;
}

.section_1_07 {
    position: absolute;
    top: 250px;
    right: 10px;
}

.section_1_08 {
    position: absolute;
    top: 320px;
    right: 110px;
}

.section_1_09 {
    position: absolute;
    top: 370px;
    right: 10px;
}

.second-section {
    margin-top: 20vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.second-section h1 {
    margin-top: 15vh;
}

.second-section .images-wrapper {
    position: absolute;
    display: flex;
    padding: 150px 0;
    top: 50%;
    overflow: hidden;
}

.image-container {
    overflow: hidden;
    height: 30%;
}

.second-section img {
    height: 250px;
    width: 250px;
}

/* .second-section .images-wrapper top .image-container img{
    height: 70px;
    width: 70px;
} */
/* .images-wrapper bottom .image-container img{
    height: 80%;
    width: 80%;
}
.images-wrapper top .image-container img{
    height: 80%;
    width: 80%;
} */

.third-section {
    width: 100vw;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background: #e87c4be6;
}

.third-section h1 {
    margin-top: 50px;
    color: #fff;
}

.third-section p {
    color: #fff;
}

.third-section .images-wrapper {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section .images-wrapper img {
    position: absolute;

}

.forth-section {
    width: 100vw;
    height: 135vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.forth-section h1 {
    margin-top: 200px;
}

.forth-section p {
    font-weight: 200;
}

.forth-section .images-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.forth-section .images-wrapper img {
    position: absolute;
    max-height: 700px;
    max-width: 700px;
    bottom: 20px;
}

@media (max-width: 991px) {
    ::-webkit-scrollbar {
        width: 0.2em;
    }

    ::-webkit-scrollbar-track {
        background: #f0f5ff3a;
    }

    .navbar {
        position: absolute;
        height: 8vh;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        text-align: center;
        z-index: 999;

    }

    .navbar .logo {
        position: relative;
        max-width: 40px;
    }

    .navbar ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
    }

    .navbar ul.active {
        visibility: visible;
        opacity: 1;
    }

    .navbar ul li a {
        display: inline-block;
        color: black;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }

    .navbar ul li a:hover {
        color: rgba(231, 2, 2, 0.932);
    }

    .toggleMenu {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 1000;
        filter: invert(1);
        cursor: pointer;
    }

    .toggleMenu.active {
        background: url(images/close.png);
        filter: invert(1);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        z-index: 1000;
        filter: invert(1);
    }
    .hero-section h2{
        font-size: 2em;
    }

    .first-section {
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }

    .first-section .images-wrapper {
        position: relative;
        top: 6vh;
        /* width: 100%; */
        height: 90vh;
        /* margin-top: 10vh; */
    }

    .ingredient-images {
        position: absolute;
        width: 400px;
        left: calc(50% - 400px);
        height: 100px;
        top: 420px;
    }
    .ingredient-images img{
        height: 60%;
    }
    .first-section .section_1_bg{
        margin-top: 30vh;
        height: 90vh;
    }
    .section_1_01 {
        position: absolute;
        top: 30px;
        right: 5px;
    }
    
    .section_1_02 {
        position: absolute;
        top: 90px;
        right: 70px;
    }
    
    .section_1_03 {
        position: absolute;
        top: 90px;
        right: 10px;
    }
    
    .section_1_04 {
        position: absolute;
        top: 170px;
        right: 50px;
    }
    
    .section_1_05 {
        position: absolute;
        top: 220px;
        right: 80px;
    }
    
    .section_1_06 {
        position: absolute;
        top: 150px;
        right: 120px;
    }
    
    .section_1_07 {
        position: absolute;
        top: 150px;
        right: 10px;
    }
    
    .section_1_08 {
        position: absolute;
        top: 210px;
        right: 10px;
    }
    
    .section_1_09 {
        position: absolute;
        top: 270px;
        right: 10px;
    }
    .second-section {
        /* margin-top: 20vh; */
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
    }
    
    .second-section h1 {
        margin-top: 10vh;
        font-size: 3em;
    }
    .second-section p{
        font-size: 1.15em;
    }
    
    .second-section .images-wrapper {
        position: absolute;
        display: flex;
        padding: 150px 0;
        top: 40%;
        overflow: hidden;
    }
    
    .image-container {
        overflow: hidden;
        height: 10%;
    }
    
    .second-section img {
        height: 120px;
        width: 120px;
    }
    .third-section{
        height: 170vh;
    }
    .third-section .images-wrapper{
        margin-top: 30vh;
        /* width: 60vw; */
    }
    /* .third-section .images-wrapper img{
        width
        
    } */
    .third-section h1{
        margin-top: 0;
    }
    .forth-section {
        height: 140vh;
        margin-top: 0;
    }
    .forth-section h1{
        font-size: 3.5em;
    }
    .forth-section p{
        font-size: 1.15em;
    }
    .forth-section .images-wrapper{
        margin-bottom: 0;
    }
}
@media (max-width: 600px){
    .second-section img {
        height: 80px;
        width: 80px;
    }
}